body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #f8f8f8;
}

.container{
    position: fixed;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    transform: translateY(-65%);
}

.container h1{
    font-size: 3rem;
    color: rgb(36, 36, 36);
}

input[type="file"]{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label{
    padding: 0 .5rem;
    line-height: 30px;
    display: inline-block;
    border: .5px solid rgb(36, 36, 36, 0.5);
}

input + label{
    cursor: pointer;
    color: #ededed;
    background-color: #292929;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-left: .8rem;
}

#fname{
    background-color: rgb(253, 253, 253);
    text-align: left;
    border-left: 0;
    margin-left: -5px;
}

input[type="submit"]{
    display: block;
    margin: auto;
    margin-top: 15px;
    padding: .3rem 1.6rem;
    font-size: .9rem;
    outline: none;
    border: 0;
    color: #ededed;
    border-radius: 3px;
    cursor: pointer;
    background-color: #292929;
}

input[type="submit"]:hover{
    background-color: #4b4b4b;
}