<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
<link href="{{ 'static/style.css' }}" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="title" content="Nightcorify">
<meta name="description" content="A tool to quickly and easily nightcorify songs online.">
<div class="container">
    {% block container %}{% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $('input[type="file"]').on('change', function(){
        $('#fname').text($('input[type="file"]').val().split('\\').pop());
    })
</script>